<p id="notice"><%= notice %></p>

<p>
  <b>Format:</b>
  <%= @teaching_format.format %>
</p>


<%= link_to 'Edit', edit_teaching_format_path(@teaching_format) %> |
<%= link_to 'Back', teaching_formats_path %>
