<%= simple_form_for @admin, :url => { :action => 'profile_complete', :controller => "admins"}, :method => "post" do |f| %>

  <%= f.input :password %>
  <%= f.hidden_field :user_id %>

  <div class="form-actions">
    <%= f.button :submit, "Complete Profile", :class => 'btn btn-nephritis btn-block' %>
  </div>

<% end %>