<div class = "row">
	<div class = "col-md-3"></div>

	<div class = "col-md-6">

		<div class = "panel panel-midnight">
		   <div class = "panel-heading"><h3 class = "panel-title">Complete your profile</h3></div>

		   <div class = "panel-body">

				<% if student? %>
					<%= render partial: "student_fields" %>
				<% end %>

				<% if teacher? %>
					<%= render partial: "teacher_fields" %>
				<% end %>

				<% if admin? %>

				<% end %>

			</div>
		</div>
	</div>

	<div class = "col-md-3"></div>

</div>

